html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
	background-color: white;
    text-align: center;
	font-family: "Arial"; 
	font-size: 16px;
    height: 100%;
}
.nav {
	display: block;
	position: relative;
	width: 50%;
	
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	
    margin-top: 0%;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	
}
.navbuttons {
	list-style-type: none;
}
.homebutton {
	background-color: grey;
}
.signupbutton {
	background-color: #EBEDF1;
}
.loginfields {
	background-color: #C0C0C0;
}
.forumbody {
	width: 45%;
	
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-top: auto;
	
	border-right-style: solid;
	border-left-style: solid;
}
.cats, .catnames {
    display: block;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-collapse: collapse;
}
.catsname {
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
}
.topicviewtop {
    border-top-style: solid;
    border-top-color: black;
	width: 100%;
}
.categorylocation th, .catname {
    width: 5%;
}
.categorylocation, .topicviewtop, .topicview, .topictable1, .topictable2 {
	overflow: auto;
    border-collapse: collapse;
    display: block;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    border-right-style: solid;
    border-right-color: black;
    border-left-style: solid;
    border-left-color: black;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.categorylocation {
    border-bottom-style: none;
    border-bottom-color: none;
}
.righttopictime, .rightpart {
	overflow: auto;
	position: fixed; 
	left: 50%;
	right: 10%;
}
.userrr{
	padding-left: 200%;
}
.replyyy {
	position: fixed; 
	right: 50%;
	left: 51.5%;
}
.postleftpart{
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
}
.postrightpart{
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 10%;
	margin-left: auto;
    margin-right: auto;
    width: 30em;
	max-height: auto;
	word-break: break-all;
}
.topictable2{
	overflow: auto;
	max-height: auto;
}
#footer {
	padding-top:10px;
    font-size: 12px;
    clear: both;
    position: relative;
}



